body {
	background-color: #fbfad2;
}

.container {
	border: 1px solid #000;
	background-color: #fff;
	border-radius: 3%;
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 5vh;
}

h1 {
	text-align: center;
}

p {
	margin-left: 2%;
}

fieldset {
	font-weight: bold;
	margin: 1rem;
}

.attach {
	background-color: red;
	color: white;
	padding: 1vh;
	border-radius: 3px;
	border: none;
	margin-left: 3vh;
}

.sender {
	background-color: red;
	color: white;
	padding: 2vh;
	font-size: larger;
	border-radius: 3px;
	border: none;
	margin-left: 40%;
}

@media screen and (max-width:768px) {
	h1 {
		font-size: 1rem;
	}
	
	fieldset {
		font-weight: normal;
	}
}
